{% extends 'base.html' %}

{% block content %}
    <h1>{{ employee.name }}</h1>
    <input class="employee__id" type="hidden" value="{{ employee.id }}"/>

    <section class="employee__about">
        <h3>About</h3>
        <ul>
            <li>Manager: {{ employee.manager }}</li>
            <li>Position: {{ employee.position }}</li>
            <li>Salary: {{ employee.salary }}</li>
            <li><a href="{% url 'employee_plot' employee.id %}">Show resource plot</a></li>
        </ul>
    </section>

    <section class="employee__controls">
        <a href="{% url 'employee_update' employee.id %}" >Update employee</a>
        <a href="{% url 'employee_confirm_delete' employee.id %}" >Delete employee</a>
    </section>

    <section class="employee__tasks">
        <h3>Undone Tasks ({{ tasks_undone | length }})</h3>
        <ul>
            {% for task in tasks_undone %}
                <li>
                    <a href="{% url 'task_detail' task.id %}">{{ task.title }}</a>
                </li>
            {% endfor %}
        </ul>
    </section>

    <section class="employee__tasks">
        <h3>Done Tasks ({{ tasks_done | length }})</h3>
        <ul>
            {% for task in tasks_done %}
                <li>
                    <a href="{% url 'task_detail' task.id %}">{{ task.title }}</a>
                </li>
            {% endfor %}
        </ul>
    </section>

    <section class="employee__calendar">
        <h3>Tasks calendar</h3>
        <div class="calendar-datepicker datepicker-inline"></div>
        <div class="calendar-tasks"></div>
        <script type="application/javascript">
            var allowedTasksDates = [];
            {% for task_date in tasks_dates %}
                allowedTasksDates.push("{{ task_date | date:"Y-m-d" }}");
            {% endfor %}
            window.allowedTasksDates = allowedTasksDates;
        </script>
    </section>

{% endblock %}
