{% extends 'base.html' %}

{% block content %}

<h1>{{ task.title }}</h1>
<ul>
    <li>Date created: {{ task.creation_date }}</li>
    <li>Date finished: {{ task.finish_date }}</li>
    <li>Assignee: <a href="{% url 'employee_detail' task.assignee_id %}">{{ task.assignee.name }}</a></li>
    <li>Status: {{ task.status }}</li>
    <li>Description: {{ task.description }}</li>
</ul>

    <a href="{% url 'task_update' task.id%}" >Update this task</a>
    <a href="{% url 'task_confirm_delete' task.id%}" >Delete this task</a>

{% endblock %}
