{% extends 'base.html' %}

{% block content %}

    <h1>{{ task.title }}</h1>
    <ul>
        <li>Дата начала: {{ task.creation_date }}</li>
        <li>Дата завершения: {{ task.finish_date }}</li>
        <li>Ответственный: <a href="{% url 'employee_detail' task.assignee_id %}">{{ task.assignee.name }}</a></li>
        <li>Статус: {{ task.status }}</li>
        <li>Описание: {{ task.description }}</li>
        {% if task.wasted_days %}
            <li>Дней затрачено: {{ task.wasted_days }}</li>
        {% endif %}
    </ul>

    <a href="{% url 'task_update' task.id%}" >Обновить задачу</a>
    <a href="{% url 'task_confirm_delete' task.id%}" >удалить задачу</a>

    <form method="post" action="{% url 'task_spent_time' task.id %}">
        {% csrf_token %}
        <input type="hidden" name="assignee_id" value="{{ task.assignee_id }}"/>
        <input type="number" name="days" placeholder="Дней затрачено" />
        <input type="submit" value="Сохранить" />
    </form>

{% endblock %}
