{% extends 'base.html' %}

{% block content %}
    <h1>Our Employees</h1>

    <section class="search">
        <form>
            <div class="input-group">
                <input type="text" class="form-control" name="query" value="{{ query | default:'' }}" placeholder="Search for...">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit">Search</button>
                </span>
            </div>
        </form>
    </section>

    <hr>

    <section class="list">
        <ul>
            {% for employee in object_list %}
                 <li><a href="{% url 'employee_detail' employee.id %}">{{ employee.name }}</a></li>
            {% empty %}
                No employees yet
            {% endfor %}
        </ul>
    </section>

    <section class="add-section">
        <a href="{% url 'employee_create' %}">
            <button type="button" class="btn btn-primary btn-sm center-block">Add an employee</button>
        </a>
    </section>
{% endblock %}
