{% extends 'base.html' %}

{% block content %}
    <h1>Tasks</h1>

    <section class="search">
        <form>
            <div class="input-group">
                <input type="text" class="form-control" name="query" value="{{ query | default:'' }}" placeholder="Search for...">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit">Search</button>
                </span>
            </div>
        </form>
    </section>

    <hr>

    <section class="list">
        {% include 'api/task_list.html' with object_list=object_list %}
    </section>

    <section class="add-section">
        <a href="{% url 'task_create' %}">
            <button type="button" class="btn btn-primary btn-sm center-block">Create a task</button>
        </a>
    </section>
{% endblock %}
