{% extends 'base.html' %}

{% block content %}
    <h1>Tasks</h1>

    <section class="search">
        <form>
            <div class="input-group">
                <input type="text" class="form-control" name="query" value="{{ query }}" placeholder="Search for...">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit">Search</button>
                </span>
            </div>
        </form>
    </section>

    <hr>

    <section class="list">
        <ul>
            {% for task in object_list %}
                <li>{{ task.title }}</li>
            {% empty %}
                No tasks for today!
            {% endfor %}
        </ul>
    </section>
{% endblock %}